<h1>Cadastre seu time Enactus</h1>
<% if @team.errors.any? %>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @team do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.label :enactus_id%>
  <%= f.text_field :enactus_id %>
  <%= f.submit %>
<% end %>